<h1><%= @employee.full_name %></h1>
<img src="<%= @employee.img_url %>">
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Dog: <%= @employee.dog.name %></p>
<%= link_to "Update Employee", edit_employee_path(@employee) %>